/* Write your CSS here */
.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
  width: 45%;
  max-width: 130px;
}

@media screen and (min-width: 768px) {
  .app-item {
    max-width: 198px;
    padding-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.app-img {
  height: 70px;
  width: 70px;
}

@media screen and (min-height: 768px) {
  .app-img {
    height: 90px;
    width: 90px;
  }
}

.app-name {
  color: #1e293b;
  font-family: 'Bree serif';
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-height: 768px) {
  .app-name {
    font-size: 20px;
  }
}
